@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header with Slider -->
<div class="slider-container">
    <img src="~/assets/img/hd1.jpg" alt="Image 1" />
    <img src="~/assets/img/hd2.jpg" alt="Image 2" />
    <img src="~/assets/img/hd3.jpg" alt="Image 3" />

    <div class="overlay-text">
        <h1>Welcome to ABC Recruitment</h1>
        <p>Your journey to success starts here. Discover new opportunities and let us connect you with your future.</p>
        <a asp-controller="Accounts" asp-action="Register">Join UsSSSS</a>
    </div>
</div>
